<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Simulator - {% block head_title %} {% endblock head_title %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo&family=Gugi&family=Monda:wght@700&display=swap">
    <link rel="stylesheet" href="/static/css/flat-remix.css">
    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include "components/header.html" %}
    {% block nav %}
    {% endblock nav %}

    <hr>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <hr>
    {% include "components/footer.html" %}
</body>
</html>