{% extends "base.html" %}

{% block head_title %}
{{ super() }} Compra de cryptos
{% endblock head_title %}

{% block nav %}
<nav aria-label="breadcrumb" class="navbar"><a href="/">Inicio</a> | Compra | <a href="/status">Estado</a></nav>
{% endblock nav %}


{% block content %}
<h1 class="h1">COMPRA DE CRYPTOS</h1>

{% with message = get_flashed_messages() %}
{% if message %}
<div class="error-flash">
    <p><i class="fa-solid fa-bomb fa-2xl" style="color: #c92c2c;"></i></p>
    <div class="message-flash">
        {% for msg in message %}
        <p>{{ msg }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}

<!-- #TODO: Verificar errores por campos -->


<form action="/purchase/" method="POST">
    {{ form.csrf_token }}
    <div class="form-from">
        {{ form.from_currency.label }}
        {{ form.from_currency() }}
        {{ form.from_quantity.label }}
        {{ form.from_quantity() }}
    </div>


    <div class="form-to">
        {{ form.to_currency.label }}
        {{ form.to_currency() }}
        {{ form.to_quantity.label }}
        {{ form.to_quantity() }}
    </div>

    <div class="form-price-unit">
        {{ form.price_unit.label }}
        {{ form.price_unit() }}
    </div>

    <div class="button">
        <!-- #TODO: Poner boton para calcular cambio -->
    </div>

    <div class="actions">
        {{ form.submit_calcular }}
        {{ form.submit_aceptar }}
    </div>
</form>
{% endblock content %}