{% extends "base.html" %}

{% block head_title %}
{{ super() }} Compra de cryptos
{% endblock head_title %}

{% block nav %}
<nav aria-label="breadcrumb" class="navbar"><a href="/">Inicio</a> | Compra | <a href="/status">Estado</a></nav>
{% endblock nav %}


{% block content %}
<h1 class="h1">COMPRA DE CRYPTOS</h1>

<form action="/purchase">
    {{ form.csrf_token }}
    <div class="form-from">
        {{ form.from_currency.label }}
        {{ form.from_currency() }}
        {{ form.from_quantity.label }}
        {{ form.from_quantity() }}
    </div>


    <div class="form-to">
        {{ form.to_currency.label }}
        {{ form.to_currency() }}
        {{ form.to_quantity.label }}
        {{ form.to_quantity() }}
    </div>

    <div class="form-price-unit">
        {{ form.price_unit.label }}
        {{ form.price_unit() }}
    </div>

    <div class="button">
        <!-- #TODO: Poner boton para calcular cambio -->
    </div>

    <div class="actions">
        {{ form.submit }}
    </div>
</form>
{% endblock content %}