{% extends "base.html" %}

{% block head_title %}
{{ super() }} Compra de cryptos
{% endblock head_title %}

{% block nav %}
<nav aria-label="breadcrumb" class="navbar"><a href="/">Inicio</a> | Compra | <a href="/status">Estado</a></nav>
{% endblock nav %}


{% block content %}
<h1 class="h1">COMPRA DE CRYPTOS</h1>

{% with message = get_flashed_messages() %}
{% if message %}
<div class="error-flash">
    <p><i class="fa-solid fa-bomb fa-2xl" style="color: #c92c2c;"></i></p>
    <div class="message-flash">
        {% for msg in message %}
        <p>{{ msg }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}


<form action="/purchase/" method="POST">
    {{ form.csrf_token }}
    <table class="form-from">
        <tr>
            <td>{{ form.from_currency.label }}</td>
            <td>{{ form.from_currency() }}</td>
            <td> </td>
            <td>{{ form.to_currency.label }}</td>
            <td>{{ form.to_currency() }}</td>
        </tr>

        <tr>
            <td>{{ form.from_quantity.label }}</td>
            {% if empty == "yes" %}
            <td>{{ form.from_quantity(placeholder= "Ingrese cantidad") }}</td>
            {% else %}
            <td>{{ form.from_quantity(readonly= "True") }}</td>
            {% endif %}

            <td>{{ form.submit_calculate }}</td>

            <td>{{ form.to_quantity.label }}</td>
            {% if empty == "yes" %}
            <td>0</td>
            {% else %}
            <td>{{ form.to_quantity( value= to_quanti ) }}</td>
            {% endif %}
        </tr>

        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>{{ form.price_unit.label }}</td>
            {% if empty == "yes" %}
            <td>0</td>
            {% else %}
            <td>{{ form.price_unit( value= price_u) }}</td>
            {% endif %}
        </tr>

        <tr>
            <td>
                <a class="button-delete" href="/purchase/" role="button" title="clean" id=btn_clean> <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
                </a>
            </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>
                <button class="button-accept" name="submit_accept" type="submit_accept" value="save" title="Accept"> <i class="fa-solid fa-check fa-xl"></i> </button>
            </td>
        </tr>
    </table>
    <p hidden>La fecha y hora de la compra es: {{ form.date(value=date_buy) }} a las {{ form.time(value=time_buy)}}</p>
</form>
<div>
    <p>
        <h3>Cryptos en cartera:</h3>
        {% if wallet == "vacio" %}
        {{"No posee monedas"}}
        {% else %}
        {% for coin, quantity in wallet.items()   %}
            {% if quantity == None %}
            {% elif quantity > 0 %}
                <li>{{coin}} = {{"{:.6f}".format(quantity)}}</li>
            {% endif %}
        {% endfor %}
        {% endif %}
    </p>
</div>
{% endblock content %}