{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Movimientos
{% endblock head_title %}

{% block content %}
    <h1>MOVIMIENTOS</h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Venta</th>
            <th>Cantidad</th>
            <th>Compra</th>
            <th>Cantidad</th>
            <th>Precio Ejecutado</th>
        </tr>
    
        <tr>
            <th>2023/10/12</th>
            <th>14:56</th>
            <th>EUR</th>
            <th>10</th>
            <th>BTC</th>
            <th>0,000384</th>
            <th>26000</th>
        </tr>
    </table>
{% endblock content %}