{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Movimientos
{% endblock head_title %}

{% block content %}
    <h1 class="h1">MOVIMIENTOS</h1>
    <table class="paper">
        <tr>
            <th class="title-table">Fecha</th>
            <th class="title-table">Hora</th>
            <th class="title-table">Venta</th>
            <th class="title-table">Cantidad</th>
            <th class="title-table">Compra</th>
            <th class="title-table">Cantidad</th>
            <th class="title-table">Precio Ejecutado</th>
        </tr>
    
        <tr>
            <th>2023/10/12</th>
            <th>14:56</th>
            <th>EUR</th>
            <th>10</th>
            <th>BTC</th>
            <th>0,000384</th>
            <th>26000</th>
        </tr>
    </table>
{% endblock content %}